.header {
  display: block;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  color: rgb(112, 112, 112);
}

.navbar-container {
  display: flex;
  max-width: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0%;
  grid-auto-columns: 1fr;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  color: rgb(112, 112, 112);
  vertical-align: top;
}

.navbar {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(112, 112, 112);
}

@media screen and (max-width: 991px) {
  .navbar-container {
    padding-right: 3rem;
    padding-left: 3rem;
    justify-content: space-between;
    gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    height: 6vh;
  }
}

@media screen and (max-width: 479px) {
  .navbar-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    height: 6vh;
  }
}